body {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.header {
  position: fixed;
  top: 1%;
  left: 1%;
  color: #ffffff;
  width: 100%;
}

.buttons-inactive {
  pointer-events: none;
}

#commands {
  position: fixed;
  width: 50%;
  left: 2%;
  bottom: 3%;
}


.arrow {
  height: 20px;
  width: 20px;
}

#messagebox {
  position: fixed;
  right: 25%;
  top: 3%;
}

.stop {
  position: relative;
  top: 5%;
  left: 50px;
}

.button {
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #ffab20;
  border-right: 1px solid #ffab20;
  border-bottom: 1px solid #ffab20;
  border-left: 1px solid #ffab20;
  font-family: "monaco";
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 20px; */
  font-size: 4vh;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  outline: none;
}

#stopbutton {
  background-color: #ffab20;
  color: black;
  border-top: 1px solid #ffab20;
  border-right: 1px solid #ffab20;
  border-bottom: 1px solid #ffab20;
  border-left: 1px solid #ffab20;
}

.button:hover {
  background-color: #ffffff;
  color: black;
  border-top: 1px solid #ffab20;
  border-right: 1px solid #ffab20;
  border-bottom: 1px solid #ffab20;
  border-left: 1px solid #ffab20;
}

#stopbutton:hover {
  background-color: #ffffff;
  color: black;
  border-top: 1px solid #ffab20;
  border-right: 1px solid #ffab20;
  border-bottom: 1px solid #ffab20;
  border-left: 1px solid #ffab20;
}

h1 {
  font-family: "monaco";
  color: #ffab20;
  font-size: 4vh;
}
p {
  font-family: "nomaco";
  color: #ffab20;
}

#messageinput {
  font-family: "monaco";
  color: #ffffff;
  font-size: 1em;
}

canvas {
  display: block;
}

#mobileText {
  display: none;
}

/* mobile version */

@media screen and (max-width: 500px) {
  body {
    background-color: black;
  }

  h1 {
    font-size: 15pt;
  }

  p {
    font-family: "monaco";
    font-size: 15pt;
  }

  .button {
    font-size: 15pt;
  }

  #commands {
    position: fixed;
    width: 100%;
    height: 50%;
    left: 2%;
    top: 10%;
  }

  #mobileText {
    display: block;
    position: fixed;
    left: 2%;
    bottom: 22%;
  }

  #messagebox {
    position: fixed;
    left: 2%;
    top: 60%;
  }

  /*   
  #mobileText {
      display: block;
      text-align: center;
  }

  #mobileBg {
      background-image: url(yolk.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 30%;
    }
     */
}
